* {
   color: #000000;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

body {
   background: #F9F9F9;
   font-family: 'Didact Gothic', sans-serif;
   font-size: 34px;
   letter-spacing: -1px;
}

h1,h2,h3,h4,h5 {
   font-weight: normal;
}

input:focus {
   border-color: #EE7622;
}

/* -------------------------------- */
/* Register page */
/* -------------------------------- */
.register {
   left: 50%;
   text-align: center;
}

.register .error {
   color: red;
}

.register fieldset {
   border: 0;
}

.register input {
   font-size: 25px;
}

.register input[type=submit] {
   margin-top: 7px;
}

.register input[type=text] {
   margin-top: 7px;
   text-align: left;
}

/* -------------------------------- */
/* Inbox page */
/* -------------------------------- */
.inbox .title {
   text-align: center;
}

.inbox .title h5 {
   color: #EE7622;
   margin-top: -20px;
}

.inbox .messages {
   color: #EE7622;
   margin-top: -20px;
   padding: 10px;
}

.inbox .sendMessage {
   bottom: 0;
   color: #EE7622;
   left: 50%;
   margin-bottom: 30px;
   margin-left: -25%;
   margin-top: -100px;
   position: fixed;
   text-align: center;
   width: 50%;
}

.inbox .sendMessage form {
   display: none;
}

.inbox .sendMessage h3 {
   color: #EE7622;
   cursor: pointer;
}

.inbox input[type=submit] {
   font-size: 20px;
   margin-top: 15px;
   margin-bottom: 15px;
}

.inbox input[type=text] {
   font-size: 40px;
}

.inbox table {
   border: 1px solid #929292;
   font-size: 30px;
   margin: 15px auto;
   margin-top: 40px;
   text-align: center;
   width: 95%;
}

/* -------------------------------- */
/* Midder - I made it up, it goes between the header and the footer */
/* -------------------------------- */
.midder {
   margin-top: 50px;
}

/* -------------------------------- */
/* Header */
/* -------------------------------- */
.header {
   background-color: #ffffff;
   border-color: gray;
   border-style: solid;
   border-width: 1px;
   opacity: 1.0;
   position: fixed;
   text-align: center;
   top: 0;
   width: 100%;
}

.header img {
   margin-bottom: -10px;
}

/* -------------------------------- */
/* Section: footer */
/* -------------------------------- */
.footer {
   border-color: gray;
   border-style: solid;
   border-width: 1px;
   background-color: #ffffff;
   bottom: 0;
   color: #000000;
   font-size: 15px;
   height: 26px;
   position: fixed;
   text-align: center;
   width: 100%;
}